@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    align-items: flex-end;
  
}
section{
    display: flex;
    justify-content: space-between;

    height: 10vh;
}
#logo{
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    justify-content: center;
}
#logo i{
    color: orangered;
    font-size: 24px;
}

#logo h1{
    color: orangered;
    font-size: 24px;
}
#menu{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}
.container a{
    color: black;
    font-weight: 400;
}
#botao{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao button{
    width: 13vw;
    background-color: orangered;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
}
.container:hover{
    background-color: orangered;
}

#banner{
    display: flex;
    width: 100vw;
    height: 60vh;
}
#texts {
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#image{
    width: 100vw;
    height: 60vh;
}
#image img{
    width: 100vw;
    height: 60vh;
    filter: brightness(25%);
}

#safes h4{
    font-family: "Poppins", serif;
    text-align: center;
    font-size: 24px;
    color: #FF4500;
}
#safes h1 {
    font-family: "Poppins", serif;
    font-size: 42px;
    color: white;
}
#search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 10vh;
}

#search button{
    background-color: #FF4500;
    width: 9vw;
    height: 6vh;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: none;
    
}
#search input{
    width: 20vw;
    height: 6vh;
    outline: none; 
}

#search input::placeholder{
    padding-left: 1vw;
}

.quote-section {
    display: flex;
    justify-content: center;
    padding:50px 20px;
    background-color: #f6f1f1;
    
}

.quote-container {
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    height: 60vh;
}

.info span {
    font-weight: bold;
    margin-top: 10px;
}

.info .star div {
    margin-bottom: 20px;
}

.form input, form select, .form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, select {
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.stats div {
    text-align: center;
    background-color: #f9f9f9; 
    border-radius: 10px;
    padding: 20px;
    flex: 1; 
    min-width: 150px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form {
    background-color: #e65a00;
    width: 200px;
    align-items: center;
    padding: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

span {
    color: #e65a00;
}

.form .botao {
    background-color: #555;
    color: #fff;
    align-items: center;
}
